<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:replace="fragments/general.html :: header(titulo = ${employee.id == null ? 'Nuevo Empleado' : 'Editar Empleado'})"></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <h2 th:text="|${employee.id != null ? 'Editar' : 'Nuevo'} empleado|">Nuevo/Editar empleado</h2>
                    <hr/>
                    <form method="post" th:action="@{'/employee/save'}" th:object="${employee}">
                        <input type="hidden" th:field="*{id}">

                        <div class="row justify-content-around">

                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label">Nombre</label>
                                    <input type="text" class="form-control" th:field="*{firstName}"/>
                                    <div class="text-danger" th:if="${#fields.hasErrors('firstName')}"
                                         th:errors="*{firstName}"></div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Correo</label>
                                    <input type="text" class="form-control" th:field="*{email}"/>
                                    <div class="text-danger" th:if="${#fields.hasErrors('email')}"
                                         th:errors="*{email}"></div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Cargo</label>
                                    <br>
                                    <select  th:field="*{job}" class="col-12" style="display: block;width: 100%;height: calc(1.5em + 0.75rem + 2px);padding: 0.375rem 0.75rem;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #495057;background-color: #fff; background-clip: padding-box;border: 1px solid #ced4da;border-radius: 0.25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;">
                                        <option th:each="jobs : ${listaJobs}"
                                                th:text="|${jobs.getJobtitle()} |"
                                                th:value="${jobs.getJobid()}"></option>
                                    </select>

                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Jefe</label>
                                    <select  th:field="*{manager}" class="col-12" style="display: block;width: 100%;height: calc(1.5em + 0.75rem + 2px);padding: 0.375rem 0.75rem;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #495057;background-color: #fff; background-clip: padding-box;border: 1px solid #ced4da;border-radius: 0.25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;">
                                        <option th:each="manager : ${listaEmployee}"
                                                th:text="|${manager.getFirstName()} ${manager.getLastName()==null?'':manager.getLastName()}|"
                                                th:value="${manager.getId()}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label">Apellido</label>
                                    <input type="text" class="form-control" th:field="*{lastName}"/>
                                    <div class="text-danger" th:if="${#fields.hasErrors('lastName')}"
                                         th:errors="*{lastName}"></div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" th:value="${employee.password}" name="password"
                                           id="password">
                                    <div class="text-danger" th:if="${#fields.hasErrors('password')}"
                                         th:errors="*{password}"></div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Sueldo</label>
                                    <input type="text" class="form-control" th:field="*{salary}"/>
                                    <div class="text-danger" th:if="${#fields.hasErrors('salary')}"
                                         th:errors="*{salary}"></div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Departamento</label>
                                    <select th:field="*{department}" class="col-12" style="display: block;width: 100%;height: calc(1.5em + 0.75rem + 2px);padding: 0.375rem 0.75rem;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #495057;background-color: #fff; background-clip: padding-box;border: 1px solid #ced4da;border-radius: 0.25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;">
                                        <option th:each="departamento : ${listaDepartments}"
                                                th:text="|${departamento.getDepartmentname()}|"
                                                th:value="${departamento.getId()}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-start">
                            <div class="col-2">
                                <a th:href="@{'/employee'}" class="btn btn-danger">Cancelar</a>
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary"
                                        th:text="${employee.id != null ? 'Actualizar' : 'Guardar'}">Registrar
                                </button>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>





    </body>
</html>